* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


#header {
  background-color: #ccfaff;
  display: flex;
  padding: 32px;
  justify-content: center;
  font-weight: bold;
}